<main>
    <div class="w3-container medi-yellow">
        <h4>My Events</h4>
    </div>

    <div class="ui">
        {{>steps}}
    </div>
    <div class="w3-container ui four column grid stackable doubling cards">
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
        {{>event_card}}
    </div>

</main>